<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>System rozpoznawania liści drzew</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href=" {% static 'index/index.css' %} "
    />
    <script src="{% static 'index/index.js' %}"></script>
  </head>
  <body>
    <div id="main">
            <h1>Witaj na stronie rozpoznawania lisci</h1>
 <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" accept="image/*" required>
        <br/>
         <br/>
        <button type="submit">Przeslij zdjecie</button>
    </form>
 <p>Nazwa wysłanego pliku: {{ uploaded_image }}</p>
    {% if predicted_class %}
        <h3>Wynik:</h3>
        <p>Rodzaj liścia: {{ predicted_class }}</p>
        <p>Prawdopodobieństwo: {{ confidence }}%</p>
    <img src="data:image/jpeg;base64,{{ image_base64 }}" alt="Processed Image">
    {% endif %}
</div>
    <footer><p>Copyright Michał Lidwa, Michał Kurpa, Robert Kaleta 2023/2024</p></footer>
  </body>
</html>